Repository DataDog/build-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yoannmoinet, @DataDog/frontend-devx, @DataDog/rum

.github/CODEOWNERS:

# Default codeowners
*                                                                     @yoannmoinet

# Plugin owners

# Telemetry
packages/plugins/telemetry                                            @DataDog/frontend-devx @yoannmoinet
packages/tests/src/plugins/telemetry                                  @DataDog/frontend-devx @yoannmoinet

# Rum
packages/plugins/rum                                                  @DataDog/rum @yoannmoinet
packages/tests/src/plugins/rum                                        @DataDog/rum @yoannmoinet

Fix missing protocol in telemetry endPoint
  packages/plugins/telemetry/src/common/helpers.ts
  packages/tests/src/plugins/telemetry/common/helpers.test.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Ensure we start heavy tests first
  packages/tests/jest.config.js
  packages/tests/src/helpers/customSequencer.js
Owners: @yoannmoinet

Integrity
  packages/tests/src/helpers/customSequencer.js
  packages/tests/src/tools/src/helpers.test.ts
  packages/tests/src/tools/src/rollupConfig.test.ts
Owners: @yoannmoinet

Update package.json
  packages/webpack-plugin/package.json
Owners: @yoannmoinet

Add plugin names into the global context
  packages/core/src/helpers.ts
  packages/core/src/plugins/bundler-report/index.ts
  packages/core/src/plugins/index.ts
  packages/core/src/types.ts
  packages/factory/src/index.ts
  packages/tests/src/helpers/mocks.ts
Owners: @yoannmoinet

Patch other plugins to avoid initialOptions leakage
  packages/core/src/plugins/injection/index.ts
Owners: @yoannmoinet

Fix helpers
  packages/tools/src/helpers.ts
Owners: @yoannmoinet

Fix esbuild's injection plugin
  packages/core/src/plugins/injection/index.ts
Owners: @yoannmoinet

Run build before tests
  package.json
  packages/tests/src/tools/src/rollupConfig.test.ts
Owners: @yoannmoinet

Fix esbuild build-report after injection update
  packages/core/src/helpers.ts
  packages/core/src/plugins/build-report/esbuild.ts
  packages/core/src/plugins/build-report/helpers.ts
  packages/core/src/plugins/build-report/webpack.ts
  packages/core/src/plugins/injection/constants.ts
  packages/core/src/plugins/injection/index.ts
Owners: @yoannmoinet

Add clean:all command
  package.json
Owners: @yoannmoinet

Remove custom sequencer
  packages/tests/jest.config.js
  packages/tests/src/helpers/customSequencer.js
Owners: @yoannmoinet

Trim ms from duration helper
  packages/core/src/helpers.ts
Owners: @yoannmoinet

Add a note about sourcemaps
  packages/core/src/plugins/injection/index.ts
Owners: @yoannmoinet

Warn about old bundles in tests
  packages/tests/src/tools/src/rollupConfig.test.ts
  packages/tools/src/helpers.ts
Owners: @yoannmoinet

Change injection again
  packages/core/src/helpers.ts
  packages/core/src/plugins/build-report/esbuild.ts
  packages/core/src/plugins/injection/constants.ts
  packages/core/src/plugins/injection/index.ts
Owners: @yoannmoinet

Simplify injection for webpack
  packages/core/src/plugins/index.ts
  packages/core/src/plugins/injection/constants.ts
  packages/core/src/plugins/injection/index.ts
  packages/core/src/types.ts
  packages/esbuild-plugin/src/index.ts
  packages/factory/src/index.ts
  packages/rollup-plugin/src/index.ts
  packages/tests/src/factory/index.test.ts
  packages/vite-plugin/src/index.ts
  packages/webpack-plugin/src/index.ts
Owners: @yoannmoinet

Fix dual webpack version in runBundlers
  packages/tests/src/helpers/configBundlers.ts
  packages/tests/src/helpers/runBundlers.ts
Owners: @yoannmoinet

Unify test phrasing
  packages/tests/src/core/plugins/git/helpers.test.ts
  packages/tests/src/factory/index.test.ts
  packages/tests/src/plugins/rum/index.test.ts
  packages/tests/src/plugins/rum/sourcemaps/files.test.ts
  packages/tests/src/plugins/rum/sourcemaps/payload.test.ts
  packages/tests/src/plugins/rum/validate.test.ts
  packages/tests/src/plugins/telemetry/common/aggregator.test.ts
  packages/tests/src/plugins/telemetry/common/helpers.test.ts
  packages/tests/src/plugins/telemetry/common/output/files.test.ts
  packages/tests/src/plugins/telemetry/esbuild-plugin/plugins.test.ts
Owners: @yoannmoinet, @DataDog/rum, @DataDog/frontend-devx

Fix injection plugin and its tests
  packages/core/src/plugins/injection/index.ts
  packages/tests/src/core/plugins/injection/index.test.ts
  packages/tests/src/fixtures/project/src/file0000.js
  packages/tests/src/fixtures/project/workspaces/app/file0000.js
  packages/tests/src/helpers/configBundlers.ts
  packages/tests/src/helpers/mocks.ts
  packages/tests/src/helpers/runBundlers.ts
  packages/tests/src/helpers/types.ts
Owners: @yoannmoinet

Update mocks
  packages/tests/src/helpers/mocks.ts
Owners: @yoannmoinet

Better DX around --bundlers
  packages/tests/src/helpers/runBundlers.ts
Owners: @yoannmoinet

Better tests for bundled plugins
  packages/tests/src/tools/src/rollupConfig.test.ts
Owners: @yoannmoinet

More imports in the fixture project
  packages/tests/src/fixtures/project/main1.js
  packages/tests/src/fixtures/project/main2.js
  packages/tests/src/fixtures/project/src/file0000.js
  packages/tests/src/fixtures/project/src/file0001.js
Owners: @yoannmoinet

Rename fixture project files
  packages/tests/src/fixtures/project/main1.js
  packages/tests/src/fixtures/project/main2.js
  packages/tests/src/fixtures/project/src/srcFile0.js
  packages/tests/src/fixtures/project/src/srcFile1.js
  packages/tests/src/fixtures/project/workspaces/app/workspaceFile0.js
  packages/tests/src/fixtures/project/workspaces/app/workspaceFile1.js
Owners: @yoannmoinet

WIP Refactor webpack's modules indexing
  packages/core/src/plugins/build-report/webpack.ts
  packages/core/src/types.ts
  packages/tests/src/helpers/configBundlers.ts
  packages/tests/src/helpers/mocks.ts
  packages/tests/src/plugins/telemetry/index.test.ts
Owners: @yoannmoinet, @DataDog/frontend-devx

Refactor and make webpack build-report more robust
  packages/core/src/plugins/build-report/webpack.ts
  packages/core/src/types.ts
  packages/tests/src/helpers/mocks.ts
  packages/tools/src/commands/create-plugin/types.ts
Owners: @yoannmoinet

Add --debug
  packages/tests/README.md
  packages/tests/src/helpers/runBundlers.ts
Owners: @yoannmoinet

Fix telemetry
  packages/core/src/plugins/build-report/webpack.ts
  packages/tests/src/plugins/telemetry/index.test.ts
Owners: @yoannmoinet, @DataDog/frontend-devx

Update build-report tests
  packages/tests/src/core/plugins/build-report/index.test.ts
Owners: @yoannmoinet

Use the right versions
  packages/tests/src/helpers/configBundlers.ts
  packages/tests/src/helpers/constants.ts
  packages/tests/src/helpers/runBundlers.ts
Owners: @yoannmoinet

Make injection collision free for tests
  packages/core/src/plugins/injection/index.ts
Owners: @yoannmoinet

Make our bundled tests more robust
  packages/core/src/plugins/index.ts
  packages/core/src/types.ts
  packages/tests/README.md
  packages/tests/package.json
  packages/tests/src/core/plugins/build-report/esbuild.test.ts
  packages/tests/src/core/plugins/build-report/index.test.ts
  packages/tests/src/core/plugins/bundler-report/index.test.ts
  packages/tests/src/core/plugins/git/index.test.ts
  packages/tests/src/core/plugins/index.test.ts
  packages/tests/src/core/plugins/injection/index.test.ts
  packages/tests/src/factory/index.test.ts
  packages/tests/src/helpers/configBundlers.ts
  packages/tests/src/helpers/constants.ts
  packages/tests/src/helpers/mocks.ts
  packages/tests/src/helpers/runBundlers.ts
  packages/tests/src/helpers/types.ts
  packages/tests/src/helpers/webpackConfigs.ts
  packages/tests/src/plugins/rum/index.test.ts
  packages/tests/src/plugins/rum/sourcemaps/files.test.ts
  packages/tests/src/plugins/telemetry/index.test.ts
  packages/tests/src/tools/src/rollupConfig.test.ts
  packages/tools/src/helpers.ts
  yarn.lock
Owners: @yoannmoinet, @DataDog/rum, @DataDog/frontend-devx

Add more timeout and a log
  packages/tests/src/tools/src/rollupConfig.test.ts
Owners: @yoannmoinet

Upgrade webpack
  .yarn/cache/@types-eslint-npm-7.2.4-6b24a0c08f-fd678d6752.zip
  .yarn/cache/@types-eslint-scope-npm-3.7.7-efa26592f6-e2889a124a.zip
  .yarn/cache/enhanced-resolve-npm-5.17.0-60a1d3bc46-8f7bf71537.zip
  .yarn/cache/enhanced-resolve-npm-5.17.1-296305b69f-e8e03cb7a4.zip
  .yarn/cache/webpack-npm-5.92.1-eba8a81d56-76fcfbebcc.zip
  .yarn/cache/webpack-npm-5.95.0-19656f7d80-0377ad3a55.zip
  packages/tests/package.json
  yarn.lock
Owners: @yoannmoinet

Use .hasModule() instead of entryModule to avoid deprecation warning
  packages/core/src/plugins/build-report/webpack.ts
  packages/core/src/plugins/injection/index.ts
Owners: @yoannmoinet

Handle multi entries and test them
  packages/core/src/plugins/build-report/webpack.ts
  packages/tests/src/core/plugins/build-report/index.test.ts
  packages/tests/src/fixtures/project/empty.js
  packages/tests/src/helpers/mocks.ts
  packages/tests/src/helpers/webpackConfigs.ts
  packages/tests/src/plugins/telemetry/index.test.ts
Owners: @yoannmoinet, @DataDog/frontend-devx

Fix webpack deprecation warnings
  packages/core/src/plugins/build-report/webpack.ts
  packages/core/src/plugins/injection/index.ts
Owners: @yoannmoinet

Revert webpack upgrade
  .yarn/cache/@types-eslint-npm-9.6.1-31a8cf74e4-719fcd2557.zip
  .yarn/cache/@types-eslint-scope-npm-3.7.7-efa26592f6-e2889a124a.zip
  .yarn/cache/webpack-npm-5.92.1-eba8a81d56-76fcfbebcc.zip
  .yarn/cache/webpack-npm-5.95.0-19656f7d80-0377ad3a55.zip
  packages/tests/package.json
  yarn.lock
Owners: @yoannmoinet

Integrity
  LICENSES-3rdparty.csv
  packages/tests/src/fixtures/project/empty.js
Owners: @yoannmoinet
