Repository DataDog/build-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yoannmoinet, @DataDog/frontend-devx, @DataDog/rum

Move request helper into core
  packages/core/package.json
  packages/core/src/helpers.ts
  packages/core/src/types.ts
  packages/plugins/rum/package.json
  packages/plugins/rum/src/sourcemaps/sender.ts
  packages/tests/src/core/helpers.test.ts
  packages/tests/src/helpers/mocks.ts
  packages/tests/src/plugins/rum/sourcemaps/sender.test.ts
  packages/tests/src/plugins/rum/testHelpers.ts
  packages/tests/src/setupTests.ts
  yarn.lock
Owners: @yoannmoinet, @DataDog/rum

Move string truncate helper
  packages/core/src/helpers.ts
  packages/plugins/telemetry/src/common/output/text.ts
Owners: @yoannmoinet, @DataDog/frontend-devx

Fix imports
  packages/tests/src/core/plugins/git/index.test.ts
Owners: @yoannmoinet

Better error handling for webpack bundlers
  packages/tests/src/helpers/runBundlers.ts
Owners: @yoannmoinet

Add injection plugin
  packages/core/src/plugins/build-report/esbuild.ts
  packages/core/src/plugins/index.ts
  packages/core/src/plugins/injection/constants.ts
  packages/core/src/plugins/injection/helpers.ts
  packages/core/src/plugins/injection/index.ts
  packages/core/src/types.ts
  packages/tests/src/core/plugins/injection/index.test.ts
  packages/tests/src/fixtures/file-to-inject.js
  packages/tests/src/helpers/mocks.ts
Owners: @yoannmoinet

Add new jest matchers
  packages/tests/src/helpers/toBeWithinRange.ts
  packages/tests/src/helpers/toRepeatStringRange.ts
  packages/tests/src/helpers/toRepeatStringTimes.ts
  packages/tests/src/plugins/telemetry/index.test.ts
  packages/tests/src/setupTests.ts
Owners: @yoannmoinet, @DataDog/frontend-devx

Fix injection for webpack4
  packages/core/src/plugins/index.ts
  packages/core/src/plugins/injection/index.ts
Owners: @yoannmoinet

Finalise injection tests
  packages/tests/package.json
  packages/tests/src/core/plugins/injection/index.test.ts
  yarn.lock
Owners: @yoannmoinet

Add test to injection helpers
  packages/core/src/plugins/injection/helpers.ts
  packages/tests/src/core/plugins/injection/helpers.test.ts
Owners: @yoannmoinet

Integrity
  packages/core/src/plugins/injection/constants.ts
  packages/core/src/plugins/injection/helpers.ts
  packages/core/src/plugins/injection/index.ts
  packages/tests/src/core/plugins/index.test.ts
  packages/tests/src/core/plugins/injection/helpers.test.ts
  packages/tests/src/core/plugins/injection/index.test.ts
  packages/tests/src/fixtures/file-to-inject.js
Owners: @yoannmoinet

Better handle injection in build report
  packages/core/src/plugins/build-report/esbuild.ts
  packages/core/src/plugins/build-report/helpers.ts
  packages/core/src/plugins/build-report/webpack.ts
  packages/core/src/plugins/injection/index.ts
  packages/tests/src/plugins/telemetry/index.test.ts
Owners: @yoannmoinet, @DataDog/frontend-devx

Do not try to send metrics in tests
  packages/tests/src/plugins/telemetry/index.test.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Fix circular stringification
  packages/tests/src/core/plugins/bundler-report/index.test.ts
Owners: @yoannmoinet

Fix git plugin tests
  packages/tests/src/core/plugins/git/index.test.ts
Owners: @yoannmoinet

Fix async-retry mock
  packages/tests/src/core/helpers.test.ts
Owners: @yoannmoinet

Fix sender tests
  packages/plugins/rum/src/sourcemaps/sender.ts
  packages/tests/src/helpers/mocks.ts
  packages/tests/src/plugins/rum/sourcemaps/sender.test.ts
Owners: @DataDog/rum, @yoannmoinet

Fix build report tests
  packages/tests/src/core/plugins/build-report/index.test.ts
Owners: @yoannmoinet

Seed bundlers builds and return cleanup
  packages/tests/src/helpers/configBundlers.ts
  packages/tests/src/helpers/runBundlers.ts
Owners: @yoannmoinet

Update tests for seeded builds
  packages/tests/src/core/plugins/build-report/index.test.ts
  packages/tests/src/core/plugins/bundler-report/index.test.ts
  packages/tests/src/core/plugins/git/index.test.ts
  packages/tests/src/core/plugins/index.test.ts
  packages/tests/src/core/plugins/injection/index.test.ts
  packages/tests/src/factory/index.test.ts
  packages/tests/src/plugins/rum/index.test.ts
  packages/tests/src/plugins/telemetry/index.test.ts
Owners: @yoannmoinet, @DataDog/rum, @DataDog/frontend-devx

Integrity
  packages/tests/src/plugins/rum/sourcemaps/sender.test.ts
Owners: @DataDog/rum, @yoannmoinet

Seed bundler runs to avoid conflicting builds cleanups between tests
  packages/tests/src/core/plugins/build-report/index.test.ts
  packages/tests/src/core/plugins/git/index.test.ts
  packages/tests/src/core/plugins/global-context/index.test.ts
  packages/tests/src/factory/index.test.ts
  packages/tests/src/helpers/configBundlers.ts
  packages/tests/src/helpers/runBundlers.ts
  packages/tests/src/plugins/rum/index.test.ts
  packages/tests/src/plugins/telemetry/index.test.ts
Owners: @yoannmoinet, @DataDog/rum, @DataDog/frontend-devx

Aggregate getAbsolutePath helper
  packages/core/src/plugins/build-report/esbuild.ts
  packages/core/src/plugins/build-report/helpers.ts
  packages/core/src/plugins/build-report/rollup.ts
  packages/core/src/plugins/build-report/webpack.ts
Owners: @yoannmoinet

Aggregate getResolvedPath helper
  packages/core/src/helpers.ts
  packages/core/src/plugins/build-report/esbuild.ts
  packages/core/src/plugins/build-report/helpers.ts
  packages/tests/src/core/plugins/build-report/index.test.ts
  packages/tests/src/helpers/configBundlers.ts
Owners: @yoannmoinet

Aggregate complex build configuration
  packages/tests/src/core/plugins/build-report/index.test.ts
  packages/tests/src/helpers/mocks.ts
  packages/tests/src/plugins/telemetry/index.test.ts
Owners: @yoannmoinet, @DataDog/frontend-devx

Refactor telemetry tests
  packages/tests/src/helpers/mocks.ts
  packages/tests/src/plugins/telemetry/index.test.ts
Owners: @yoannmoinet, @DataDog/frontend-devx

Better logging in tests
  packages/tests/src/setupTests.ts
Owners: @yoannmoinet

Add toRepeatString matchers to jest
  packages/tests/src/helpers/toRepeatStringRange.ts
  packages/tests/src/helpers/toRepeatStringTimes.ts
  packages/tests/src/setupTests.ts
Owners: @yoannmoinet

Clean toBeWithinRange
  packages/tests/src/helpers/toBeWithinRange.ts
Owners: @yoannmoinet

Extract doRequest as its own helper
  packages/core/package.json
  packages/core/src/helpers.ts
  packages/core/src/types.ts
  packages/plugins/rum/package.json
  packages/plugins/rum/src/sourcemaps/sender.ts
  packages/tests/src/core/helpers.test.ts
  packages/tests/src/core/plugins/git/index.test.ts
  packages/tests/src/plugins/rum/sourcemaps/sender.test.ts
  packages/tests/src/plugins/rum/testHelpers.ts
  yarn.lock
Owners: @yoannmoinet, @DataDog/rum

Extract truncateString as its own helper
  packages/core/src/helpers.ts
  packages/plugins/telemetry/src/common/output/text.ts
  packages/tests/src/core/helpers.test.ts
Owners: @yoannmoinet, @DataDog/frontend-devx

Split GlobalContext and Bundler Report plugins
  packages/core/src/plugins/bundler-report/index.ts
  packages/core/src/plugins/index.ts
  packages/tests/src/core/plugins/bundler-report/index.test.ts
  packages/tests/src/core/plugins/index.test.ts
Owners: @yoannmoinet

Revert reIndexMeta move
  packages/core/src/plugins/build-report/esbuild.ts
Owners: @yoannmoinet

Fix mock
  packages/tests/src/helpers/mocks.ts
Owners: @yoannmoinet

Remove redondant test
  packages/tests/src/core/plugins/global-context/index.test.ts
Owners: @yoannmoinet

Remove global-context misplaced tests
  packages/tests/src/core/plugins/global-context/index.test.ts
Owners: @yoannmoinet

Change getAbsolutePath arguments order
  packages/core/src/plugins/build-report/esbuild.ts
  packages/core/src/plugins/build-report/helpers.ts
  packages/core/src/plugins/build-report/rollup.ts
  packages/core/src/plugins/build-report/webpack.ts
Owners: @yoannmoinet

Add injection plugin
  packages/core/src/plugins/build-report/esbuild.ts
  packages/core/src/plugins/build-report/helpers.ts
  packages/core/src/plugins/build-report/webpack.ts
  packages/core/src/plugins/index.ts
  packages/core/src/plugins/injection/constants.ts
  packages/core/src/plugins/injection/helpers.ts
  packages/core/src/plugins/injection/index.ts
  packages/core/src/types.ts
  packages/tests/package.json
  packages/tests/src/core/plugins/injection/helpers.test.ts
  packages/tests/src/core/plugins/injection/index.test.ts
  packages/tests/src/fixtures/file-to-inject.js
  packages/tests/src/helpers/mocks.ts
  yarn.lock
Owners: @yoannmoinet

Missing return statement
  packages/core/src/plugins/injection/index.ts
Owners: @yoannmoinet

Add some documentation for testing
  packages/tests/README.md
  packages/tests/src/core/plugins/build-report/index.test.ts
  packages/tests/src/helpers/configBundlers.ts
  packages/tests/src/plugins/telemetry/index.test.ts
Owners: @yoannmoinet, @DataDog/frontend-devx

Inject global context types
  packages/tools/src/commands/integrity/readme.ts
  packages/tools/src/constants.ts
Owners: @yoannmoinet

.github/CODEOWNERS:

# Default codeowners
*                                                                     @yoannmoinet

# Plugin owners

# Telemetry
packages/plugins/telemetry                                            @DataDog/frontend-devx @yoannmoinet
packages/tests/src/plugins/telemetry                                  @DataDog/frontend-devx @yoannmoinet

# Rum
packages/plugins/rum                                                  @DataDog/rum @yoannmoinet
packages/tests/src/plugins/rum                                        @DataDog/rum @yoannmoinet
