Repository DataDog/build-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yoannmoinet, @DataDog/frontend-devx, @DataDog/rum

Add rollup plugin
  packages/rollup-plugin/.babelrc.json
  packages/rollup-plugin/README.md
  packages/rollup-plugin/package.json
  packages/rollup-plugin/rollup.config.mjs
  packages/rollup-plugin/src/index.ts
  packages/rollup-plugin/tsconfig.json
  yarn.lock
Owners: @yoannmoinet

Add vite plugin
  packages/vite-plugin/.babelrc.json
  packages/vite-plugin/README.md
  packages/vite-plugin/package.json
  packages/vite-plugin/rollup.config.mjs
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/tsconfig.json
  yarn.lock
Owners: @yoannmoinet

Integrate vite and rollup to testing
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.18.1-eb1269e5e7-10.zip
  .yarn/cache/@rollup-rollup-darwin-x64-npm-4.18.1-9e0e5d846d-10.zip
  .yarn/cache/@rollup-rollup-linux-arm64-gnu-npm-4.18.1-932f846d29-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.18.1-1bb920ee60-10.zip
  .yarn/cache/nanoid-npm-3.3.7-98824ba130-ac1eb60f61.zip
  .yarn/cache/postcss-npm-8.4.39-f77f32a87d-ad9c1add89.zip
  .yarn/cache/rollup-npm-4.18.1-ff252ce141-7a5f110d21.zip
  .yarn/cache/source-map-js-npm-1.2.0-6e63f357e5-74f331cfd2.zip
  .yarn/cache/vite-npm-5.3.3-7061e07df9-e7a094cefe.zip
  LICENSES-3rdparty.csv
  packages/tests/package.json
  packages/tests/src/helpers/configBundlers.ts
  packages/tests/src/helpers/runBundlers.ts
  yarn.lock
Owners: @yoannmoinet

Fix webpack4 lack of pnp support
  .yarn/cache/pnp-webpack-plugin-npm-1.7.0-f6c94efb72-a41716d136.zip
  .yarn/cache/ts-pnp-npm-1.2.0-43620de7df-a987a6bc4b.zip
  packages/tests/package.json
  packages/tests/src/helpers/configBundlers.ts
  packages/tests/src/helpers/pnp-webpack-plugin.d.ts
  yarn.lock
Owners: @yoannmoinet

Change how we run bundlers
  packages/tests/src/core/plugins/global-context/index.test.ts
  packages/tests/src/factory/index.test.ts
  packages/tests/src/helpers/mocks.ts
  packages/tests/src/helpers/runBundlers.ts
Owners: @yoannmoinet

Add host name for esbuild
  packages/factory/src/index.ts
Owners: @yoannmoinet

Update how we run bundlers again
  .yarn/cache/pnp-webpack-plugin-npm-1.7.0-f6c94efb72-a41716d136.zip
  .yarn/cache/ts-pnp-npm-1.2.0-43620de7df-a987a6bc4b.zip
  packages/tests/src/helpers/configBundlers.ts
  packages/tests/src/helpers/runBundlers.ts
  yarn.lock
Owners: @yoannmoinet

Configure Jest
  packages/tests/jest.config.js
  packages/tests/package.json
Owners: @yoannmoinet

Update global context to add rollup and vite
  packages/core/src/plugins/global-context/index.ts
Owners: @yoannmoinet

Update sourcemaps tests
  packages/tests/src/plugins/rum/index.test.ts
Owners: @DataDog/rum, @yoannmoinet

Make bundlers length dynamic
  packages/tests/src/core/plugins/git/index.test.ts
  packages/tests/src/core/plugins/global-context/index.test.ts
  packages/tests/src/factory/index.test.ts
  packages/tests/src/plugins/rum/index.test.ts
Owners: @yoannmoinet, @DataDog/rum

Update vite run
  packages/tests/src/helpers/configBundlers.ts
  packages/tests/src/helpers/runBundlers.ts
Owners: @yoannmoinet

Ensure we delete the dist folder
  packages/tests/src/helpers/runBundlers.ts
Owners: @yoannmoinet

Remove node warnings
  packages/tests/package.json
Owners: @yoannmoinet

Integrity
  packages/tests/src/helpers/pnp-webpack-plugin.d.ts
  packages/tests/src/helpers/runBundlers.ts
  yarn.lock
Owners: @yoannmoinet

Add more info to plugins in the readme
  packages/tools/src/commands/integrity/readme.ts
Owners: @yoannmoinet

Add bundlers documentation to top-level readme
  packages/tools/src/commands/integrity/index.ts
  packages/tools/src/commands/integrity/readme.ts
  packages/tools/src/constants.ts
Owners: @yoannmoinet

Update README
  README.md
Owners: @yoannmoinet

No more collapses
  README.md
  packages/tools/src/commands/integrity/readme.ts
Owners: @yoannmoinet

Remove useless await
  packages/tools/src/commands/integrity/readme.ts
Owners: @yoannmoinet

Remove unused helpers
  packages/factory/src/index.ts
  packages/plugins/rum/src/index.ts
  packages/tools/src/commands/integrity/files.ts
Owners: @yoannmoinet, @DataDog/rum

Add bundlers support informations
  README.md
  packages/assets/src/esbuild.svg
  packages/assets/src/rollup.svg
  packages/assets/src/vite.svg
  packages/assets/src/webpack.svg
  packages/tools/src/commands/integrity/readme.ts
  packages/tools/src/constants.ts
  packages/tools/src/helpers.ts
Owners: @yoannmoinet

Update validation error on plugin
  packages/plugins/rum/src/index.ts
  packages/plugins/rum/src/validate.ts
  packages/tests/src/plugins/rum/validate.test.ts
Owners: @DataDog/rum, @yoannmoinet

Update readme
  README.md
  packages/tools/src/helpers.ts
Owners: @yoannmoinet

Remove pictures from TOC
  README.md
  packages/tools/src/commands/integrity/readme.ts
Owners: @yoannmoinet

Add and fix some typings
  packages/tests/package.json
  packages/tests/src/helpers/mocks.ts
  packages/tools/package.json
  packages/tools/src/helpers.ts
  yarn.lock
Owners: @yoannmoinet

Update API key link
  README.md
Owners: @yoannmoinet

Add more details to RUM readme
  README.md
  packages/plugins/rum/README.md
Owners: @yoannmoinet, @DataDog/rum

Slight move of things in README
  README.md
Owners: @yoannmoinet

Move endPoint option into telemetry
  README.md
  packages/core/src/types.ts
  packages/plugins/telemetry/README.md
  packages/plugins/telemetry/src/common/sender.ts
  packages/plugins/telemetry/src/esbuild-plugin/index.ts
  packages/plugins/telemetry/src/types.ts
  packages/plugins/telemetry/src/webpack-plugin/index.ts
  packages/tools/src/commands/integrity/readme.ts
Owners: @yoannmoinet, @DataDog/frontend-devx

Update outputDir for rollup and vite
  packages/core/src/plugins/global-context/index.ts
Owners: @yoannmoinet

Add more to the global context
  packages/core/src/plugins/global-context/index.ts
  packages/core/src/plugins/index.ts
  packages/core/src/types.ts
Owners: @yoannmoinet

wip
  packages/plugins/telemetry/src/index.ts
  packages/plugins/telemetry/src/webpack-plugin/index.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Update how we manage errors in the sender
  packages/plugins/rum/src/sourcemaps/sender.ts
  packages/tests/src/plugins/rum/sourcemaps/sender.test.ts
  packages/tests/src/plugins/rum/testHelpers.ts
Owners: @DataDog/rum, @yoannmoinet

Add a new bailOnError option
  packages/plugins/rum/README.md
  packages/plugins/rum/src/types.ts
  packages/plugins/rum/src/validate.ts
  packages/tests/src/plugins/rum/testHelpers.ts
  packages/tests/src/plugins/rum/validate.test.ts
Owners: @DataDog/rum, @yoannmoinet

Add comment about bailOnError
  packages/plugins/rum/README.md
Owners: @DataDog/rum, @yoannmoinet

Update readmes
  README.md
  packages/plugins/rum/README.md
Owners: @yoannmoinet, @DataDog/rum

Better warnings
  packages/core/src/plugins/git/trackedFilesMatcher.ts
  packages/plugins/rum/src/sourcemaps/payload.ts
  packages/plugins/rum/src/sourcemaps/sender.ts
  packages/tests/src/plugins/rum/sourcemaps/sender.test.ts
Owners: @yoannmoinet, @DataDog/rum

Parallelize queue.add
  packages/plugins/rum/src/sourcemaps/sender.ts
Owners: @DataDog/rum, @yoannmoinet

v2.2.0
  packages/esbuild-plugin/package.json
  packages/rollup-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
Owners: @yoannmoinet

.github/CODEOWNERS:

# Default codeowners
*                                                                     @yoannmoinet

# Plugin owners

# Telemetry
packages/plugins/telemetry                                            @DataDog/frontend-devx @yoannmoinet
packages/tests/src/plugins/telemetry                                  @DataDog/frontend-devx @yoannmoinet

# Rum
packages/plugins/rum                                                  @DataDog/rum @yoannmoinet
packages/tests/src/plugins/rum                                        @DataDog/rum @yoannmoinet
