Repository DataDog/build-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yoannmoinet, @DataDog/frontend-devx, @DataDog/rum

.github/CODEOWNERS:

# Default codeowners
*                                                                     @yoannmoinet

# Plugin owners

# Telemetry
packages/plugins/telemetry                                            @DataDog/frontend-devx @yoannmoinet
packages/tests/src/plugins/telemetry                                  @DataDog/frontend-devx @yoannmoinet

# Rum
packages/plugins/rum                                                  @DataDog/rum @yoannmoinet
packages/tests/src/plugins/rum                                        @DataDog/rum @yoannmoinet

Update readmes
  README.md
  packages/core/README.md
  packages/tests/README.md
Owners: @yoannmoinet

Update tests documentation
  packages/tests/README.md
Owners: @yoannmoinet

Update some docs
  README.md
  packages/core/README.md
Owners: @yoannmoinet

Fix toc generation
  packages/tools/src/commands/integrity/readme.ts
Owners: @yoannmoinet

Add link to core doc
  CONTRIBUTING.md
Owners: @yoannmoinet

Update CONTRIBUTING
  CONTRIBUTING.md
Owners: @yoannmoinet

Prevent auto-sorting of imports where it's injected
  packages/core/src/types.ts
  packages/factory/src/index.ts
Owners: @yoannmoinet

Tweak TS Config for @dd/tools
  packages/tools/src/commands/create-plugin/templates.ts
  packages/tools/src/commands/integrity/files.ts
  packages/tools/src/helpers.ts
  packages/tools/tsconfig.json
Owners: @yoannmoinet

Fix creation of new plugins
  packages/tools/src/commands/create-plugin/hooks.ts
  packages/tools/src/commands/create-plugin/index.ts
  packages/tools/src/commands/create-plugin/templates.ts
  packages/tools/src/commands/integrity/files.ts
Owners: @yoannmoinet

Better handling of failures of integrity
  packages/tools/src/commands/create-plugin/index.ts
  packages/tools/src/commands/integrity/index.ts
  packages/tools/src/helpers.ts
Owners: @yoannmoinet

Stronger typing and validation of wizard
  packages/tools/package.json
  packages/tools/src/commands/create-plugin/ask.ts
  packages/tools/src/commands/create-plugin/constants.ts
  packages/tools/src/commands/create-plugin/hooks.ts
  packages/tools/src/commands/create-plugin/index.ts
  packages/tools/src/commands/create-plugin/types.ts
  packages/tools/src/types.ts
  yarn.lock
Owners: @yoannmoinet

Update clipanion
  .yarn/cache/clipanion-npm-4.0.0-rc.3-e62cc70585-31edbd69dc.zip
  .yarn/cache/clipanion-npm-4.0.0-rc.4-40deb7eb3b-c3a9478331.zip
  packages/tests/package.json
  packages/tools/package.json
  yarn.lock
Owners: @yoannmoinet

Integrity
  packages/tools/src/commands/create-plugin/constants.ts
  packages/tools/src/commands/create-plugin/types.ts
Owners: @yoannmoinet

Remove unecessary mock
  packages/tests/src/plugins/rum/sourcemaps/files.test.ts
Owners: @DataDog/rum, @yoannmoinet

Fix imports
  packages/tools/src/commands/create-plugin/index.ts
  packages/tools/src/commands/create-plugin/templates.ts
Owners: @yoannmoinet

WIP Test
  packages/tests/src/tools/src/commands/create-plugin/index.test.ts
  packages/tools/src/commands/create-plugin/templates.ts
  packages/tools/src/helpers.ts
Owners: @yoannmoinet

Add precision on variant
  README.md
  packages/core/README.md
Owners: @yoannmoinet

test
  packages/tests/src/tools/src/commands/create-plugin/index.test.ts
Owners: @yoannmoinet

Remove unecessary mocks and fixtures
  packages/tests/src/plugins/rum/sourcemaps/files.test.ts
Owners: @DataDog/rum, @yoannmoinet

Handle failures of autoFixes and create a noFailure mode
  packages/tools/src/commands/integrity/index.ts
  packages/tools/src/helpers.ts
Owners: @yoannmoinet

Fix plugin creation
  packages/tools/src/commands/create-plugin/ask.ts
  packages/tools/src/commands/create-plugin/hooks.ts
  packages/tools/src/commands/create-plugin/templates.ts
  packages/tools/src/commands/integrity/files.ts
Owners: @yoannmoinet

Re-enforce create-plugin command
  packages/tests/package.json
  packages/tests/src/helpers/mocks.ts
  packages/tests/src/tools/src/commands/create-plugin/index.test.ts
  packages/tools/package.json
  packages/tools/src/commands/create-plugin/ask.ts
  packages/tools/src/commands/create-plugin/constants.ts
  packages/tools/src/commands/create-plugin/hooks.ts
  packages/tools/src/commands/create-plugin/index.ts
  packages/tools/src/commands/create-plugin/templates.ts
  packages/tools/src/commands/create-plugin/types.ts
  packages/tools/src/types.ts
  yarn.lock
Owners: @yoannmoinet

Rename some variables
  packages/tools/src/commands/create-plugin/ask.ts
  packages/tools/src/commands/create-plugin/constants.ts
  packages/tools/src/commands/create-plugin/hooks.ts
  packages/tools/src/commands/create-plugin/index.ts
  packages/tools/src/commands/create-plugin/types.ts
Owners: @yoannmoinet

Add tests
  packages/tests/src/tools/src/commands/create-plugin/ask.test.ts
  packages/tools/src/commands/create-plugin/ask.ts
Owners: @yoannmoinet

Add tests for hooks
  packages/tests/src/tools/src/commands/create-plugin/ask.test.ts
  packages/tests/src/tools/src/commands/create-plugin/hooks.test.ts
Owners: @yoannmoinet

Eslint tweaks
  .eslintrc.js
  packages/core/src/log.ts
Owners: @yoannmoinet

Re-use existing loop script
  package.json
Owners: @yoannmoinet

Strongify injection plugin detection
  packages/core/src/plugins/injection/index.ts
Owners: @yoannmoinet

Re-use doRequest to submit metrics
  packages/plugins/telemetry/src/common/sender.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Add new mocks
  packages/tests/src/helpers/mocks.ts
  packages/tests/src/plugins/telemetry/testHelpers.ts
Owners: @yoannmoinet, @DataDog/frontend-devx

Incorporate unplugin loaders in bundles
  packages/tools/src/rollupConfig.mjs
Owners: @yoannmoinet

Better cleanup and error handling in runBundlers
  packages/tests/src/helpers/runBundlers.ts
Owners: @yoannmoinet

Add tests for tool helpers
  packages/tests/src/tools/src/helpers.test.ts
  packages/tools/src/helpers.ts
Owners: @yoannmoinet

Add tests for bundles
  packages/tests/src/tools/src/rollupConfig.test.ts
  packages/tests/tsconfig.json
Owners: @yoannmoinet

Factorise injection detection
  packages/core/src/helpers.ts
  packages/core/src/plugins/build-report/esbuild.ts
  packages/core/src/plugins/build-report/helpers.ts
  packages/core/src/plugins/build-report/webpack.ts
  packages/core/src/plugins/injection/index.ts
Owners: @yoannmoinet

Add back skipped test
  packages/tests/src/core/helpers.test.ts
Owners: @yoannmoinet

Factories webpack entries
  packages/tests/src/helpers/configBundlers.ts
  packages/tests/src/helpers/mocks.ts
Owners: @yoannmoinet

Add missing webpack-sources dependency
  packages/webpack-plugin/package.json
  yarn.lock
Owners: @yoannmoinet

Re-order injection plugin definition
  packages/core/src/plugins/injection/index.ts
Owners: @yoannmoinet

Remove logs from bundling test
  packages/tests/src/tools/src/rollupConfig.test.ts
Owners: @yoannmoinet
