Repository DataDog/build-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yoannmoinet, @DataDog/frontend-devx, @DataDog/rum

Use a random based filename for esbuild to avoid collisions
  packages/core/src/plugins/injection/constants.ts
  packages/core/src/plugins/injection/index.ts
Owners: @yoannmoinet

Add warnings back in tests
  packages/tests/package.json
Owners: @yoannmoinet

Clean dist folders without conflicting with other tests
  packages/tests/src/tools/src/rollupConfig.test.ts
Owners: @yoannmoinet

Add debug file plugin to injection
  packages/tests/src/core/plugins/injection/index.test.ts
Owners: @yoannmoinet

Create a new test case for "weird" project
  packages/core/src/types.ts
  packages/tests/src/helpers/mocks.ts
  packages/tests/src/helpers/runBundlers.ts
  packages/tests/src/helpers/types.ts
  packages/tests/src/tools/src/rollupConfig.test.ts
Owners: @yoannmoinet

Change webpack-sources dependency
  packages/tools/src/rollupConfig.mjs
  packages/webpack-plugin/package.json
  yarn.lock
Owners: @yoannmoinet

Use Date.now() instead of Math.random()
  packages/core/src/plugins/injection/index.ts
Owners: @yoannmoinet

v2.3.1
  packages/esbuild-plugin/package.json
  packages/rollup-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
Owners: @yoannmoinet

Remove webpack-sources from externals
  packages/tools/src/rollupConfig.mjs
Owners: @yoannmoinet

v2.3.2
  packages/esbuild-plugin/package.json
  packages/rollup-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
Owners: @yoannmoinet

Keep third dependencies as external dependencies in the bundles
  packages/esbuild-plugin/package.json
  packages/rollup-plugin/package.json
  packages/tools/src/rollupConfig.mjs
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
  yarn.lock
Owners: @yoannmoinet

Enforce dependency management in yarn cli integrity
  packages/tools/src/commands/integrity/dependencies.ts
  packages/tools/src/commands/integrity/index.ts
  packages/tools/src/commands/integrity/readme.ts
Owners: @yoannmoinet

Add --build=1 param for tests
  packages/tests/README.md
  packages/tests/src/helpers/constants.ts
  packages/tests/src/helpers/runBundlers.ts
  packages/tools/src/helpers.ts
Owners: @yoannmoinet

Update unplugin
  .yarn/cache/acorn-npm-8.13.0-a6d9510af8-33e3a03114.zip
  .yarn/cache/unplugin-npm-1.11.0-0b6b24a0d1-debe6223b0.zip
  .yarn/cache/unplugin-npm-1.14.1-8ee393215f-ad82ec5b8d.zip
  .yarn/cache/webpack-virtual-modules-npm-0.6.1-f19aa25c3e-12a43ecdb9.zip
  .yarn/cache/webpack-virtual-modules-npm-0.6.2-6785315785-d9a0d035f7.zip
  packages/core/package.json
  packages/esbuild-plugin/package.json
  packages/factory/package.json
  packages/plugins/rum/package.json
  packages/plugins/telemetry/package.json
  packages/rollup-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
  yarn.lock
Owners: @yoannmoinet, @DataDog/rum, @DataDog/frontend-devx

Fix p-queue usage
  packages/plugins/rum/src/sourcemaps/sender.ts
Owners: @DataDog/rum, @yoannmoinet

Avoid collision in injection filename
  packages/core/src/plugins/injection/index.ts
Owners: @yoannmoinet

Upgrade esbuild
  .yarn/cache/@esbuild-darwin-arm64-npm-0.24.0-f33b2ff14e-10.zip
  .yarn/cache/@esbuild-linux-arm64-npm-0.24.0-72377a710b-10.zip
  .yarn/cache/esbuild-npm-0.24.0-1252872327-500f83a121.zip
  packages/esbuild-plugin/package.json
  packages/plugins/telemetry/package.json
  packages/rollup-plugin/package.json
  packages/tests/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
  yarn.lock
Owners: @yoannmoinet, @DataDog/frontend-devx

Update unplugin dependents
  LICENSES-3rdparty.csv
  packages/core/package.json
  packages/plugins/rum/package.json
  packages/plugins/telemetry/package.json
  packages/tools/src/commands/create-plugin/templates.ts
  yarn.lock
Owners: @yoannmoinet, @DataDog/rum, @DataDog/frontend-devx

Update licenses
  LICENSES-3rdparty.csv
Owners: @yoannmoinet

Remove webpack-sources
  packages/tools/src/commands/integrity/dependencies.ts
  packages/webpack-plugin/package.json
  yarn.lock
Owners: @yoannmoinet

Remove fs-extra
  .yarn/cache/@types-fs-extra-npm-8.1.0-f40b532d8a-b6d14be3e2.zip
  .yarn/cache/fs-extra-npm-7.0.1-b33a5e53e9-3fc6e56ba2.zip
  .yarn/cache/jsonfile-npm-4.0.0-10ce3aea15-17796f0ab1.zip
  .yarn/cache/universalify-npm-0.1.2-9b22d31d2d-40cdc60f6e.zip
  LICENSES-3rdparty.csv
  packages/core/src/helpers.ts
  packages/esbuild-plugin/package.json
  packages/plugins/telemetry/package.json
  packages/plugins/telemetry/src/common/helpers.ts
  packages/plugins/telemetry/src/common/output/files.ts
  packages/rollup-plugin/package.json
  packages/tests/package.json
  packages/tests/src/helpers/generateMassiveProject.ts
  packages/tests/src/helpers/runBundlers.ts
  packages/tests/src/plugins/telemetry/common/output/files.test.ts
  packages/tests/src/tools/src/rollupConfig.test.ts
  packages/tools/package.json
  packages/tools/src/commands/create-plugin/index.ts
  packages/tools/src/commands/integrity/dependencies.ts
  packages/tools/src/commands/integrity/files.ts
  packages/tools/src/commands/integrity/readme.ts
  packages/tools/src/commands/oss/apply.ts
  packages/tools/src/helpers.ts
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
  yarn.lock
Owners: @yoannmoinet, @DataDog/frontend-devx

Fix conflict with `jest.mock('fs');`
  .eslintrc.js
  packages/tests/jest.config.js
  packages/tests/src/jest/setup.ts
  packages/tests/src/jest/toBeWithinRange.ts
  packages/tests/src/jest/toRepeatStringRange.ts
  packages/tests/src/jest/toRepeatStringTimes.ts
Owners: @yoannmoinet

Fix failing test with clipanion
  packages/tests/src/tools/src/commands/create-plugin/index.test.ts
  packages/tools/src/commands/create-plugin/index.ts
Owners: @yoannmoinet

Create mkdir helper
  packages/core/src/helpers.ts
  packages/tests/src/helpers/generateMassiveProject.ts
Owners: @yoannmoinet

Use fs helpers
  packages/core/src/plugins/injection/index.ts
  packages/tests/src/helpers/mocks.ts
Owners: @yoannmoinet

Remove unnecessary plugin
  packages/tools/src/rollupConfig.mjs
Owners: @yoannmoinet

Fix mkdirSync helper
  packages/core/src/helpers.ts
Owners: @yoannmoinet

Update diagram
  CONTRIBUTING.md
Owners: @yoannmoinet

Fix create-plugin
  packages/tools/src/commands/create-plugin/index.ts
  packages/tools/src/commands/create-plugin/templates.ts
Owners: @yoannmoinet

Update actions/checkout and actions/setup-node
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
Owners: @yoannmoinet

Simplify the root cleanup
  packages/tests/src/helpers/runBundlers.ts
Owners: @yoannmoinet

Update diagram
  CONTRIBUTING.md
Owners: @yoannmoinet

Update packages/tools/src/commands/integrity/dependencies.ts
  packages/tools/src/commands/integrity/dependencies.ts
Owners: @yoannmoinet

Update package.json
  package.json
  yarn.lock
Owners: @yoannmoinet

Add the possibility to create internal plugins with yarn cli create-plugin
  packages/tests/src/tools/src/commands/create-plugin/ask.test.ts
  packages/tools/src/commands/create-plugin/ask.ts
  packages/tools/src/commands/create-plugin/constants.ts
  packages/tools/src/commands/create-plugin/hooks.ts
  packages/tools/src/commands/create-plugin/index.ts
  packages/tools/src/commands/create-plugin/templates.ts
  packages/tools/src/commands/create-plugin/types.ts
  packages/tools/src/helpers.ts
Owners: @yoannmoinet

Add more tests to create-plugin
  packages/tests/src/tools/src/commands/create-plugin/index.test.ts
Owners: @yoannmoinet

Move internal plugins init into factory directly to ease auto injection + uniformisation
  packages/factory/README.md
  packages/factory/src/helpers.ts
  packages/factory/src/index.ts
  packages/factory/src/internalPlugins.ts
  packages/plugins/build-report/src/index.ts
  packages/plugins/bundler-report/src/index.ts
  packages/plugins/context/README.md
  packages/plugins/context/package.json
  packages/plugins/context/tsconfig.json
  packages/plugins/git/src/index.ts
  packages/tools/src/commands/create-plugin/templates.ts
  packages/tools/src/constants.ts
Owners: @yoannmoinet

.github/CODEOWNERS:

# Default codeowners
*                                                                     @yoannmoinet

# Plugin owners

# Telemetry
packages/plugins/telemetry                                            @DataDog/frontend-devx @yoannmoinet
packages/tests/src/plugins/telemetry                                  @DataDog/frontend-devx @yoannmoinet

# Rum
packages/plugins/rum                                                  @DataDog/rum @yoannmoinet
packages/tests/src/plugins/rum                                        @DataDog/rum @yoannmoinet
