Repository DataDog/build-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yoannmoinet, @DataDog/frontend-devx, @DataDog/rum

Add tests for metrics
  packages/tests/src/plugins/telemetry/index.test.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Integrity
  README.md
  packages/tests/src/helpers/toBeWithinRange.ts
  packages/tests/src/setupTests.ts
Owners: @yoannmoinet

Unify the usage of PluginOptions
  packages/core/src/plugins/build-report/esbuild.ts
  packages/core/src/plugins/build-report/index.ts
  packages/core/src/plugins/build-report/rollup.ts
  packages/core/src/plugins/build-report/webpack.ts
  packages/core/src/plugins/git/index.ts
  packages/core/src/plugins/global-context/index.ts
  packages/factory/src/index.ts
  packages/plugins/telemetry/src/esbuild-plugin/index.ts
  packages/plugins/telemetry/src/webpack-plugin/index.ts
Owners: @yoannmoinet, @DataDog/frontend-devx

Add customPlugins
  README.md
  packages/core/src/types.ts
  packages/factory/src/index.ts
Owners: @yoannmoinet

Use customPlugins in tests
  packages/tests/src/core/plugins/build-report/index.test.ts
  packages/tests/src/core/plugins/global-context/index.test.ts
Owners: @yoannmoinet

Integrity
  README.md
  packages/tools/src/commands/integrity/readme.ts
Owners: @yoannmoinet

Update customPlugins API to use a single function returning an array
  README.md
  packages/core/src/types.ts
  packages/factory/src/index.ts
  packages/tests/src/core/plugins/build-report/index.test.ts
  packages/tests/src/core/plugins/global-context/index.test.ts
Owners: @yoannmoinet

Unify index usage
  packages/core/src/plugins/build-report/esbuild.ts
Owners: @yoannmoinet

Temporarily fix broken test
  packages/plugins/telemetry/src/common/output/index.ts
  packages/plugins/telemetry/src/common/output/text.ts
  packages/plugins/telemetry/src/esbuild-plugin/index.ts
  packages/plugins/telemetry/src/webpack-plugin/index.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Fix broken test
  packages/tests/src/core/plugins/build-report/index.test.ts
Owners: @yoannmoinet

Better extension extraction + tests
  packages/core/src/plugins/build-report/helpers.ts
  packages/tests/src/core/plugins/build-report/helpers.test.ts
Owners: @yoannmoinet

Extract bundler specifics
  packages/core/src/plugins/build-report/helpers.ts
Owners: @yoannmoinet

Skip deleted tests
  packages/tests/src/plugins/telemetry/common/metrics/esbuild.test.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Skip deleted tests
  packages/tests/src/plugins/telemetry/common/metrics/webpack.test.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Fix broken test
  packages/tests/src/plugins/telemetry/common/aggregator.test.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Update sourcemaps plugin to be post
  packages/plugins/rum/src/index.ts
Owners: @DataDog/rum, @yoannmoinet

Add glob package
  .yarn/cache/@isaacs-cliui-npm-8.0.2-f4364666d5-e9ed5fd27c.zip
  .yarn/cache/@pkgjs-parseargs-npm-0.11.0-cd2a3fe948-115e8ceeec.zip
  .yarn/cache/ansi-regex-npm-6.1.0-abe011aae4-495834a53b.zip
  .yarn/cache/ansi-styles-npm-6.2.1-d43647018c-70fdf883b7.zip
  .yarn/cache/eastasianwidth-npm-0.2.0-c37eb16bd1-9b1d3e1bae.zip
  .yarn/cache/emoji-regex-npm-9.2.2-e6fac8d058-915acf859c.zip
  .yarn/cache/foreground-child-npm-3.3.0-b8be745271-e3a60480f3.zip
  .yarn/cache/glob-npm-11.0.0-3be4126bf5-e66939201d.zip
  .yarn/cache/jackspeak-npm-4.0.1-47021b0734-b20dc0df0d.zip
  .yarn/cache/lru-cache-npm-11.0.1-636ae10c75-26688a1b2a.zip
  .yarn/cache/minimatch-npm-10.0.1-eabcc0d3a0-082e7ccbc0.zip
  .yarn/cache/minipass-npm-7.1.2-3a5327d36d-c25f0ee819.zip
  .yarn/cache/package-json-from-dist-npm-1.0.0-961f0fcb3b-ac706ec856.zip
  .yarn/cache/path-scurry-npm-2.0.0-5a556e8161-285ae0c2d6.zip
  .yarn/cache/string-width-npm-5.1.2-bf60531341-7369deaa29.zip
  .yarn/cache/strip-ansi-npm-7.1.0-7453b80b79-475f53e9c4.zip
  .yarn/cache/wrap-ansi-npm-8.1.0-26a4e6ae28-7b1e4b35e9.zip
  packages/core/package.json
  yarn.lock
Owners: @yoannmoinet

Add more details to test output
  packages/tests/src/core/plugins/build-report/helpers.test.ts
Owners: @yoannmoinet

Add esbuild entrypoint glob support
  packages/core/src/plugins/build-report/esbuild.ts
  packages/tests/src/core/plugins/build-report/esbuild.test.ts
Owners: @yoannmoinet

Integrity
  LICENSES-3rdparty.csv
  packages/tests/src/core/plugins/build-report/esbuild.test.ts
  packages/tests/src/core/plugins/build-report/helpers.test.ts
Owners: @yoannmoinet

Fix esbuild build-report
  packages/core/src/plugins/build-report/esbuild.ts
Owners: @yoannmoinet

Fix aggregator type issue
  packages/tests/src/plugins/telemetry/common/aggregator.test.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Massive perf improvement
  .eslintrc.js
  packages/core/src/plugins/build-report/esbuild.ts
  packages/core/src/plugins/build-report/helpers.ts
  packages/core/src/plugins/build-report/rollup.ts
  packages/core/src/plugins/build-report/webpack.ts
  packages/core/src/types.ts
  packages/plugins/telemetry/src/common/aggregator.ts
  packages/plugins/telemetry/src/common/output/text.ts
  packages/tests/src/core/plugins/build-report/index.test.ts
Owners: @yoannmoinet, @DataDog/frontend-devx

Small fixes for webpack and esbuild
  packages/core/src/plugins/build-report/esbuild.ts
  packages/core/src/plugins/build-report/webpack.ts
Owners: @yoannmoinet

Add test helper to generate a massive project
  .yarn/cache/@types-faker-npm-5.5.9-2ce4f59dc2-9152f5a27d.zip
  .yarn/cache/faker-npm-5.5.3-541ce97798-fc46449712.zip
  packages/tests/package.json
  packages/tests/src/core/plugins/build-report/index.test.ts
  packages/tests/src/fixtures/.gitignore
  packages/tests/src/helpers/generateMassiveProject.ts
  yarn.lock
Owners: @yoannmoinet

Remove warnings from vite and rollup
  packages/tests/src/helpers/configBundlers.ts
Owners: @yoannmoinet

Update helpers
  packages/core/src/plugins/build-report/helpers.ts
  packages/tests/src/core/plugins/build-report/index.test.ts
Owners: @yoannmoinet

Integrity
  LICENSES-3rdparty.csv
  packages/tests/src/helpers/generateMassiveProject.ts
Owners: @yoannmoinet

Add comment
  packages/tests/src/helpers/generateMassiveProject.ts
Owners: @yoannmoinet

Update how we render text to truncate large names
  packages/plugins/telemetry/src/common/output/text.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Fix and improve efficiency of webpack's tapable patcher
  packages/plugins/telemetry/src/webpack-plugin/tapables.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Re-enforce webpack's build report following integration
  packages/core/src/plugins/build-report/helpers.ts
  packages/core/src/plugins/build-report/webpack.ts
Owners: @yoannmoinet

v2.3.0
  packages/esbuild-plugin/package.json
  packages/rollup-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
Owners: @yoannmoinet

Update README.md
  packages/plugins/telemetry/README.md
Owners: @DataDog/frontend-devx, @yoannmoinet

Aggregate some helpers
  packages/core/src/helpers.ts
  packages/core/src/plugins/build-report/webpack.ts
  packages/tests/src/core/plugins/build-report/index.test.ts
  packages/tests/src/helpers/mocks.ts
  packages/tests/src/plugins/telemetry/index.test.ts
Owners: @yoannmoinet, @DataDog/frontend-devx

Pass the bundler to the factory
  packages/core/src/types.ts
  packages/esbuild-plugin/src/index.ts
  packages/factory/src/index.ts
  packages/rollup-plugin/src/index.ts
  packages/tests/src/factory/index.test.ts
  packages/tools/src/rollupConfig.mjs
  packages/vite-plugin/src/index.ts
  packages/webpack-plugin/src/index.ts
Owners: @yoannmoinet

Fix webpack4 test run to actually use webpack4 within
  packages/tests/package.json
  packages/tests/src/helpers/configBundlers.ts
  packages/tests/src/helpers/runBundlers.ts
  yarn.lock
Owners: @yoannmoinet

Better logs in test runs
  packages/tests/src/setupTests.ts
Owners: @yoannmoinet

Separate context from bundler-report
  packages/core/src/plugins/bundler-report/index.ts
  packages/core/src/plugins/index.ts
  packages/tests/src/core/plugins/bundler-report/index.test.ts
  packages/tests/src/core/plugins/index.test.ts
Owners: @yoannmoinet

Unify absolute path creation
  packages/core/src/plugins/build-report/esbuild.ts
  packages/core/src/plugins/build-report/helpers.ts
  packages/core/src/plugins/build-report/rollup.ts
  packages/core/src/plugins/build-report/webpack.ts
Owners: @yoannmoinet

.github/CODEOWNERS:

# Default codeowners
*                                                                     @yoannmoinet

# Plugin owners

# Telemetry
packages/plugins/telemetry                                            @DataDog/frontend-devx @yoannmoinet
packages/tests/src/plugins/telemetry                                  @DataDog/frontend-devx @yoannmoinet

# Rum
packages/plugins/rum                                                  @DataDog/rum @yoannmoinet
packages/tests/src/plugins/rum                                        @DataDog/rum @yoannmoinet
