Repository DataDog/build-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yoannmoinet, @DataDog/frontend-devx, @DataDog/rum-browser

Add migrations for the renaming
  MIGRATIONS.md
Owners: @yoannmoinet

Add some claude allow bash commands
  .claude/settings.local.json
Owners: @yoannmoinet

Remove the `metrics.output` option
  MIGRATIONS.md
  README.md
  packages/plugins/metrics/README.md
  packages/plugins/metrics/src/common/helpers.test.ts
  packages/plugins/metrics/src/common/helpers.ts
  packages/plugins/metrics/src/common/output/files.test.ts
  packages/plugins/metrics/src/common/output/files.ts
  packages/plugins/metrics/src/index.ts
  packages/plugins/metrics/src/types.ts
  packages/tests/src/_jest/helpers/mocks.ts
Owners: @yoannmoinet, @DataDog/frontend-devx

Unify API endpoints configuration under `auth.site`
  README.md
  packages/core/src/helpers/request.test.ts
  packages/core/src/types.ts
  packages/factory/src/helpers/context.test.ts
  packages/factory/src/validate.ts
  packages/plugins/error-tracking/README.md
  packages/plugins/error-tracking/src/sourcemaps/sender.ts
  packages/plugins/error-tracking/src/types.ts
  packages/plugins/error-tracking/src/validate.test.ts
  packages/plugins/error-tracking/src/validate.ts
  packages/plugins/git/src/index.test.ts
  packages/plugins/rum/src/sdk.test.ts
  packages/plugins/rum/src/sdk.ts
  packages/plugins/telemetry/README.md
  packages/plugins/telemetry/src/common/helpers.test.ts
  packages/plugins/telemetry/src/common/helpers.ts
  packages/plugins/telemetry/src/common/sender.ts
  packages/plugins/telemetry/src/index.test.ts
  packages/plugins/telemetry/src/index.ts
  packages/plugins/telemetry/src/types.ts
  packages/tests/src/_jest/helpers/env.ts
  packages/tests/src/_jest/helpers/mocks.ts
  packages/tools/src/rollupConfig.test.ts
Owners: @yoannmoinet

Add migration notes
  MIGRATIONS.md
Owners: @yoannmoinet

Add more tests to sourcemaps sender
  packages/plugins/error-tracking/src/sourcemaps/sender.test.ts
Owners: @yoannmoinet

Use auth.site in RUM's sdk's clientToken fetch
  packages/plugins/rum/src/sdk.ts
Owners: @yoannmoinet

Change `cwd` to `buildRoot`
  README.md
  packages/core/src/helpers/bundlers.test.ts
  packages/core/src/helpers/bundlers.ts
  packages/core/src/types.ts
  packages/factory/README.md
  packages/factory/src/helpers/context.test.ts
  packages/factory/src/helpers/context.ts
  packages/factory/src/helpers/wrapPlugins.ts
  packages/plugins/build-report/src/esbuild.ts
  packages/plugins/build-report/src/helpers.test.ts
  packages/plugins/build-report/src/helpers.ts
  packages/plugins/bundler-report/README.md
  packages/plugins/bundler-report/src/helpers/rollup.test.ts
  packages/plugins/bundler-report/src/helpers/rollup.ts
  packages/plugins/bundler-report/src/index.test.ts
  packages/plugins/bundler-report/src/index.ts
  packages/plugins/custom-hooks/README.md
  packages/plugins/git/src/index.ts
  packages/plugins/injection/src/esbuild.ts
  packages/plugins/injection/src/index.ts
  packages/plugins/injection/src/xpack.ts
  packages/plugins/telemetry/src/esbuild-plugin/index.ts
  packages/plugins/telemetry/src/webpack-plugin/index.ts
  packages/tests/src/_jest/helpers/mocks.ts
Owners: @yoannmoinet

Update packages/plugins/rum/src/built/privacy-helpers.ts
  packages/plugins/rum/src/built/privacy-helpers.ts
Owners: @yoannmoinet

Throw errors unless injection files non-exist
  packages/plugins/injection/src/esbuild.ts
  packages/plugins/injection/src/helpers.ts
Owners: @yoannmoinet

fix:integrity
  packages/plugins/rum/src/built/privacy-helpers.ts
  packages/published/rollup-plugin/package.json
Owners: @yoannmoinet

fix:add log forward
  packages/plugins/rum/src/privacy/index.ts
  packages/plugins/rum/src/validate.test.ts
  packages/plugins/rum/src/validate.ts
Owners: @DataDog/rum-browser, @yoannmoinet

Update packages/plugins/injection/src/esbuild.ts
  packages/plugins/injection/src/esbuild.ts
Owners: @yoannmoinet

Use a single rollup version
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.40.1-e921da81dd-10.zip
  .yarn/cache/@rollup-rollup-darwin-x64-npm-4.40.1-3f1b34eb64-10.zip
  .yarn/cache/@rollup-rollup-linux-arm64-gnu-npm-4.40.1-6bc85ccfc9-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.40.1-7dde71b7d9-10.zip
  .yarn/cache/rollup-npm-4.40.1-3f996d9e6d-35d5e83a69.zip
  package.json
  yarn.lock
Owners: @yoannmoinet

Update the debug plugin to support multi outputs builds
  packages/core/src/helpers/plugins.ts
Owners: @yoannmoinet

Update cleanName() to only use an absolute path
  packages/plugins/build-report/src/esbuild.ts
  packages/plugins/build-report/src/helpers.test.ts
  packages/plugins/build-report/src/helpers.ts
  packages/plugins/build-report/src/xpack.ts
Owners: @yoannmoinet

Do not warn about lack of lose ends when pausing from end()
  packages/core/src/types.ts
  packages/factory/src/helpers/logger.ts
Owners: @yoannmoinet

Support multi outputs in tests
  packages/tests/src/_jest/helpers/configBundlers.ts
  packages/tools/src/bundlers.ts
Owners: @yoannmoinet

Support rollup and vite's multi outputs
  packages/core/src/helpers/paths.ts
  packages/plugins/build-report/src/index.test.ts
  packages/plugins/build-report/src/rollup.ts
  packages/plugins/bundler-report/src/helpers/rollup.test.ts
  packages/plugins/bundler-report/src/helpers/rollup.ts
  packages/plugins/bundler-report/src/index.test.ts
  packages/plugins/bundler-report/src/index.ts
Owners: @yoannmoinet

Make buildReport hook async
  packages/core/src/types.ts
  packages/plugins/build-report/src/esbuild.ts
  packages/plugins/build-report/src/rollup.ts
  packages/plugins/build-report/src/xpack.ts
Owners: @yoannmoinet

Update vite's bundler report
  packages/plugins/bundler-report/src/index.test.ts
  packages/plugins/bundler-report/src/index.ts
Owners: @yoannmoinet

Support multi outputs with sourcemaps plugin
  packages/plugins/error-tracking/src/index.ts
  packages/plugins/error-tracking/src/sourcemaps/files.test.ts
  packages/plugins/error-tracking/src/sourcemaps/files.ts
  packages/plugins/error-tracking/src/sourcemaps/index.ts
  packages/plugins/error-tracking/src/sourcemaps/sender.test.ts
  packages/plugins/error-tracking/src/sourcemaps/sender.ts
Owners: @yoannmoinet

Re inforce tests of bundler and build reports by confirming reported files exist
  packages/plugins/build-report/src/index.test.ts
  packages/plugins/bundler-report/src/index.test.ts
Owners: @yoannmoinet

Fix test following sourcemaps refactor
  packages/plugins/git/src/index.test.ts
Owners: @yoannmoinet

Add getClosest implementation extracted from getClosestPackageJson
  packages/core/src/helpers/paths.test.ts
  packages/core/src/helpers/paths.ts
Owners: @yoannmoinet

Fix git plugins following refactor of bundler report
  packages/plugins/git/src/index.ts
Owners: @yoannmoinet

Update bundler report for rollup's cwd computation
  packages/plugins/bundler-report/src/index.test.ts
  packages/plugins/bundler-report/src/index.ts
Owners: @yoannmoinet

Fix telemetry plugin after build and bundler report refactors
  packages/core/src/types.ts
  packages/plugins/telemetry/src/common/aggregator.test.ts
  packages/plugins/telemetry/src/common/aggregator.ts
  packages/plugins/telemetry/src/common/helpers.ts
  packages/plugins/telemetry/src/common/metrics/common.ts
  packages/plugins/telemetry/src/common/output/files.ts
  packages/plugins/telemetry/src/common/output/text.ts
  packages/plugins/telemetry/src/esbuild-plugin/index.ts
  packages/plugins/telemetry/src/esbuild-plugin/plugins.ts
  packages/plugins/telemetry/src/index.test.ts
  packages/plugins/telemetry/src/index.ts
  packages/plugins/telemetry/src/types.ts
  packages/plugins/telemetry/src/webpack-plugin/index.ts
  packages/plugins/telemetry/src/webpack-plugin/loaders.ts
  packages/plugins/telemetry/src/webpack-plugin/tapables.ts
  packages/tests/src/_jest/helpers/mocks.ts
Owners: @yoannmoinet

Update readmes
  packages/plugins/custom-hooks/README.md
Owners: @yoannmoinet

Update options validation and defaults
  packages/plugins/metrics/src/common/helpers.ts
  packages/plugins/metrics/src/index.ts
  packages/plugins/metrics/src/types.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Refactor how we aggregate metrics
  packages/plugins/metrics/src/common/aggregator.test.ts
  packages/plugins/metrics/src/common/aggregator.ts
  packages/plugins/metrics/src/common/filters.ts
  packages/plugins/metrics/src/common/helpers.ts
  packages/plugins/metrics/src/common/metrics/common.ts
  packages/plugins/metrics/src/common/sender.ts
  packages/plugins/metrics/src/index.ts
  packages/plugins/metrics/src/types.ts
  packages/tests/src/_jest/helpers/mocks.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Update how we save and serve timings data
  packages/plugins/metrics/src/common/output/text.ts
  packages/plugins/metrics/src/esbuild-plugin/index.ts
  packages/plugins/metrics/src/index.ts
  packages/plugins/metrics/src/types.ts
  packages/plugins/metrics/src/webpack-plugin/index.ts
  packages/tests/src/_jest/helpers/mocks.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Fix tests
  packages/plugins/metrics/src/common/helpers.test.ts
  packages/plugins/metrics/src/common/helpers.ts
  packages/plugins/metrics/src/index.test.ts
  packages/plugins/metrics/src/index.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Move `Metric` type in core
  packages/core/src/types.ts
  packages/plugins/metrics/src/common/aggregator.ts
  packages/plugins/metrics/src/common/filters.ts
  packages/plugins/metrics/src/common/helpers.ts
  packages/plugins/metrics/src/common/sender.ts
  packages/plugins/metrics/src/index.test.ts
  packages/plugins/metrics/src/index.ts
  packages/plugins/metrics/src/types.ts
Owners: @yoannmoinet, @DataDog/frontend-devx

Add hooks for metrics
  packages/core/src/types.ts
  packages/plugins/metrics/src/index.ts
Owners: @yoannmoinet, @DataDog/frontend-devx

Simplify metrics tests
  packages/plugins/metrics/src/index.test.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Better organize how we filter metrics before sending and remove the `metricsToSend` hook
  packages/core/src/types.ts
  packages/plugins/metrics/src/common/helpers.ts
  packages/plugins/metrics/src/common/sender.ts
  packages/plugins/metrics/src/index.test.ts
  packages/plugins/metrics/src/index.ts
Owners: @yoannmoinet, @DataDog/frontend-devx

Add docs
  packages/plugins/custom-hooks/README.md
  packages/plugins/metrics/README.md
Owners: @yoannmoinet, @DataDog/frontend-devx

Small doc fixes
  README.md
  packages/published/vite-plugin/README.md
  packages/published/webpack-plugin/README.md
  packages/tools/src/commands/integrity/readme.ts
Owners: @yoannmoinet

Add tests and fix the `getMetricsToSend` process
  packages/plugins/metrics/src/common/helpers.test.ts
  packages/plugins/metrics/src/common/helpers.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

.github/CODEOWNERS:

# Default codeowners
*                                                                     @yoannmoinet

# Plugin owners

# Build Report
packages/plugins/build-report                                         @yoannmoinet

# Bundler Report
packages/plugins/bundler-report                                       @yoannmoinet

# Git
packages/plugins/git                                                  @yoannmoinet

# Injection
packages/plugins/injection                                            @yoannmoinet

# Metrics
packages/plugins/metrics                                              @DataDog/frontend-devx @yoannmoinet

# Error Tracking
packages/plugins/error-tracking                                       @yoannmoinet

# Rum
packages/plugins/rum                                                  @yoannmoinet
packages/plugins/rum/src/privacy                                      @DataDog/rum-browser

# Analytics
packages/plugins/analytics                                            @yoannmoinet

# Custom Hooks
packages/plugins/custom-hooks                                         @yoannmoinet

# True End
packages/plugins/true-end                                            @yoannmoinet

# Async Queue
packages/plugins/async-queue                                          @yoannmoinet
