Repository DataDog/build-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yoannmoinet, @DataDog/frontend-devx, @DataDog/rum

Fix markdown links with <img />
  README.md
  packages/tools/src/commands/integrity/readme.ts
Owners: @yoannmoinet

Rename config into rawConfig
  packages/core/src/plugins/global-context/index.ts
  packages/core/src/types.ts
  packages/tests/src/core/plugins/global-context/index.test.ts
Owners: @yoannmoinet

Update how we pass rollup config to vite
  packages/tests/src/helpers/configBundlers.ts
  packages/tests/src/helpers/runBundlers.ts
Owners: @yoannmoinet

Export the version with the plugins
  packages/esbuild-plugin/src/index.ts
  packages/rollup-plugin/src/index.ts
  packages/vite-plugin/src/index.ts
  packages/webpack-plugin/src/index.ts
Owners: @yoannmoinet

Revamp global context with more shared data
  packages/core/src/plugins/global-context/index.ts
  packages/core/src/types.ts
  packages/plugins/rum/src/sourcemaps/files.ts
  packages/plugins/rum/src/sourcemaps/sender.ts
  packages/tests/src/core/plugins/global-context/index.test.ts
  packages/tests/src/helpers/mocks.ts
  packages/tests/src/plugins/rum/index.test.ts
  packages/tests/src/plugins/rum/sourcemaps/files.test.ts
  packages/tools/src/helpers.ts
Owners: @yoannmoinet, @DataDog/rum

Minor tweaks in tests platform
  packages/tests/jest.config.js
  packages/tests/src/helpers/configBundlers.ts
  packages/tests/src/helpers/runBundlers.ts
  packages/tests/src/plugins/telemetry/webpack-plugin/modules.test.ts
  packages/tests/src/plugins/telemetry/webpack-plugin/tapables.test.ts
Owners: @yoannmoinet, @DataDog/frontend-devx

Streamline telemetry plugin and introduce universal plugin
  packages/core/src/plugins/global-context/index.ts
  packages/core/src/types.ts
  packages/plugins/telemetry/src/common/aggregator.ts
  packages/plugins/telemetry/src/common/metrics/common.ts
  packages/plugins/telemetry/src/common/metrics/esbuild.ts
  packages/plugins/telemetry/src/common/output/files.ts
  packages/plugins/telemetry/src/common/output/index.ts
  packages/plugins/telemetry/src/common/output/metrics.ts
  packages/plugins/telemetry/src/common/output/text.ts
  packages/plugins/telemetry/src/esbuild-plugin/index.ts
  packages/plugins/telemetry/src/index.ts
  packages/plugins/telemetry/src/types.ts
  packages/plugins/telemetry/src/webpack-plugin/index.ts
  packages/plugins/telemetry/src/webpack-plugin/loaders.ts
  packages/plugins/telemetry/src/webpack-plugin/modules.ts
  packages/plugins/telemetry/src/webpack-plugin/tapables.ts
  packages/tests/src/helpers/mocks.ts
  packages/tests/src/plugins/telemetry/common/aggregator.test.ts
  packages/tests/src/plugins/telemetry/common/metrics/esbuild.test.ts
  packages/tests/src/plugins/telemetry/testHelpers.ts
Owners: @yoannmoinet, @DataDog/frontend-devx

More universal telemetry for esbuild
  packages/core/src/plugins/global-context/index.ts
  packages/core/src/types.ts
  packages/plugins/telemetry/src/common/aggregator.ts
  packages/plugins/telemetry/src/common/metrics/esbuild.ts
  packages/plugins/telemetry/src/common/output/metrics.ts
Owners: @yoannmoinet, @DataDog/frontend-devx

Clean esbuild metrics
  packages/plugins/telemetry/src/common/aggregator.ts
  packages/plugins/telemetry/src/common/metrics/esbuild.ts
  packages/plugins/telemetry/src/common/output/text.ts
  packages/plugins/telemetry/src/types.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Universalize webpack telemetry
  packages/core/src/plugins/global-context/index.ts
  packages/plugins/telemetry/src/common/aggregator.ts
  packages/plugins/telemetry/src/common/output/text.ts
  packages/plugins/telemetry/src/index.ts
  packages/plugins/telemetry/src/webpack-plugin/index.ts
  packages/tests/src/helpers/configBundlers.ts
Owners: @yoannmoinet, @DataDog/frontend-devx

Small fixes for esbuild
  packages/core/src/types.ts
  packages/plugins/telemetry/src/esbuild-plugin/index.ts
  packages/plugins/telemetry/src/esbuild-plugin/modules.ts
  packages/plugins/telemetry/src/esbuild-plugin/plugins.ts
  packages/tests/src/helpers/mocks.ts
Owners: @yoannmoinet, @DataDog/frontend-devx

Split out a build-report plugin
  packages/core/src/plugins/build-report/esbuild.ts
  packages/core/src/plugins/build-report/helpers.ts
  packages/core/src/plugins/build-report/index.ts
  packages/core/src/plugins/build-report/rollup.ts
  packages/core/src/plugins/build-report/webpack.ts
  packages/core/src/plugins/global-context/index.ts
  packages/core/src/plugins/index.ts
Owners: @yoannmoinet

Tweaks for testing
  packages/core/src/plugins/build-report/esbuild.ts
  packages/core/src/plugins/build-report/rollup.ts
  packages/tests/src/fixtures/project/main1.js
  packages/tests/src/fixtures/project/main2.js
  packages/tests/src/fixtures/project/src/file0000.js
  packages/tests/src/fixtures/project/src/file0001.js
  packages/tests/src/fixtures/project/workspaces/app/file0000.js
  packages/tests/src/helpers/configBundlers.ts
Owners: @yoannmoinet

Fix sourcemaps reports
  packages/core/src/plugins/build-report/esbuild.ts
  packages/core/src/plugins/build-report/index.ts
  packages/core/src/plugins/build-report/rollup.ts
  packages/core/src/plugins/build-report/webpack.ts
  packages/core/src/types.ts
  packages/plugins/telemetry/src/index.ts
Owners: @yoannmoinet, @DataDog/frontend-devx

Start writing tests for build-report plugin
  packages/core/src/plugins/build-report/rollup.ts
  packages/core/src/plugins/build-report/webpack.ts
  packages/tests/src/core/plugins/build-report/index.test.ts
  packages/tests/src/core/plugins/global-context/index.test.ts
  packages/tests/src/fixtures/main.js
  packages/tests/src/helpers/configBundlers.ts
  packages/tests/src/helpers/mocks.ts
  packages/tests/src/helpers/runBundlers.ts
Owners: @yoannmoinet

Better setup fixture project
  package.json
  packages/tests/src/fixtures/project/.gitignore
  packages/tests/src/fixtures/project/main1.js
  packages/tests/src/fixtures/project/package.json
  yarn.lock
Owners: @yoannmoinet

Configure bundlers to have similar build's output
  packages/tests/package.json
  packages/tests/src/helpers/configBundlers.ts
  packages/tests/src/helpers/runBundlers.ts
Owners: @yoannmoinet

Small fixes following more complex tests
  packages/core/src/plugins/build-report/esbuild.ts
  packages/core/src/plugins/build-report/helpers.ts
  packages/core/src/plugins/build-report/rollup.ts
  packages/tests/src/core/plugins/build-report/index.test.ts
Owners: @yoannmoinet

More tests and uniformisation of bundlers
  packages/core/src/plugins/build-report/esbuild.ts
  packages/tests/src/core/plugins/build-report/index.test.ts
  packages/tests/src/helpers/configBundlers.ts
Owners: @yoannmoinet

Finalize and clean for tests of build-report
  packages/core/src/plugins/build-report/esbuild.ts
  packages/core/src/plugins/build-report/rollup.ts
  packages/core/src/plugins/build-report/webpack.ts
  packages/tests/src/core/plugins/build-report/index.test.ts
  packages/tests/src/fixtures/project/workspaces/app/file0000.js
  packages/tests/src/fixtures/project/workspaces/app/file0001.js
  packages/tests/src/helpers/configBundlers.ts
  packages/tests/src/helpers/runBundlers.ts
Owners: @yoannmoinet

Clean some more
  packages/plugins/telemetry/src/index.ts
  packages/tests/src/plugins/telemetry/index.test.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Some cleaning and integrity
  packages/core/src/plugins/build-report/esbuild.ts
  packages/core/src/plugins/build-report/helpers.ts
  packages/core/src/plugins/build-report/index.ts
  packages/core/src/plugins/build-report/rollup.ts
  packages/core/src/plugins/build-report/webpack.ts
  packages/plugins/telemetry/src/common/aggregator.ts
  packages/plugins/telemetry/src/common/metrics/webpack.ts
  packages/plugins/telemetry/src/common/modules.ts
  packages/plugins/telemetry/src/common/output/files.ts
  packages/plugins/telemetry/src/common/output/index.ts
  packages/plugins/telemetry/src/common/output/metrics.ts
  packages/plugins/telemetry/src/common/output/text.ts
  packages/plugins/telemetry/src/esbuild-plugin/index.ts
  packages/plugins/telemetry/src/index.ts
  packages/plugins/telemetry/src/types.ts
  packages/plugins/telemetry/src/webpack-plugin/index.ts
  packages/tests/package.json
  packages/tests/src/core/plugins/build-report/index.test.ts
  packages/tests/src/fixtures/project/main1.js
  packages/tests/src/fixtures/project/main2.js
  packages/tests/src/helpers/configBundlers.ts
  packages/tests/src/plugins/rum/sourcemaps/files.test.ts
  packages/tests/src/plugins/telemetry/common/aggregator.test.ts
  packages/tests/src/plugins/telemetry/common/metrics/esbuild.test.ts
  packages/tests/src/plugins/telemetry/common/metrics/webpack.test.ts
  packages/tests/src/plugins/telemetry/common/output/files.test.ts
  packages/tests/src/plugins/telemetry/esbuild-plugin/modules.test.ts
  packages/tests/src/plugins/telemetry/index.test.ts
  packages/tests/src/plugins/telemetry/testHelpers.ts
  packages/tests/src/plugins/telemetry/webpack-plugin/modules.test.ts
  packages/tests/src/plugins/telemetry/webpack-plugin/tapables.test.ts
  packages/tools/src/helpers.ts
  yarn.lock
Owners: @yoannmoinet, @DataDog/frontend-devx, @DataDog/rum

Fix git-plugin test
  packages/core/src/plugins/git/index.ts
  packages/tests/src/core/plugins/git/index.test.ts
Owners: @yoannmoinet

Fix some tests
  packages/tests/src/helpers/configBundlers.ts
  packages/tests/src/plugins/telemetry/common/output/text.test.ts
Owners: @yoannmoinet, @DataDog/frontend-devx

Missing integrity
  packages/core/src/plugins/git/index.ts
Owners: @yoannmoinet

Update some types
  packages/core/src/plugins/build-report/esbuild.ts
  packages/core/src/plugins/build-report/rollup.ts
  packages/core/src/plugins/build-report/webpack.ts
  packages/core/src/types.ts
Owners: @yoannmoinet

Add dependencies and dependents to inputs
  packages/core/src/plugins/build-report/esbuild.ts
  packages/core/src/plugins/build-report/helpers.ts
  packages/core/src/plugins/build-report/rollup.ts
  packages/core/src/plugins/build-report/webpack.ts
  packages/core/src/types.ts
  packages/tests/src/core/plugins/build-report/index.test.ts
Owners: @yoannmoinet

WIP rollup dependents and dependencies
  packages/core/src/plugins/build-report/esbuild.ts
  packages/core/src/plugins/build-report/helpers.ts
  packages/core/src/plugins/build-report/rollup.ts
  packages/tests/src/core/plugins/build-report/index.test.ts
Owners: @yoannmoinet

Complete rollup dependencies and dependents
  packages/core/src/plugins/build-report/helpers.ts
  packages/core/src/plugins/build-report/rollup.ts
  packages/tests/src/core/plugins/build-report/index.test.ts
Owners: @yoannmoinet

Complete dependents and dependencies
  packages/core/src/plugins/build-report/esbuild.ts
  packages/core/src/plugins/build-report/helpers.ts
  packages/core/src/plugins/build-report/rollup.ts
  packages/core/src/plugins/build-report/webpack.ts
  packages/tests/src/core/plugins/build-report/index.test.ts
Owners: @yoannmoinet

Change what we report in dependencies and dependents
  packages/tests/src/core/plugins/build-report/index.test.ts
Owners: @yoannmoinet

Update esbuild report dependencies dependents
  packages/core/src/plugins/build-report/esbuild.ts
Owners: @yoannmoinet

Update rollup report dependencies dependents
  packages/core/src/plugins/build-report/esbuild.ts
  packages/core/src/plugins/build-report/helpers.ts
  packages/core/src/plugins/build-report/rollup.ts
Owners: @yoannmoinet

Update webpack report dependencies dependents
  packages/core/src/plugins/build-report/webpack.ts
Owners: @yoannmoinet

Better warn logging and indexing
  packages/core/src/plugins/build-report/esbuild.ts
  packages/core/src/plugins/build-report/helpers.ts
  packages/core/src/plugins/build-report/rollup.ts
Owners: @yoannmoinet

Add --bundlers flag for tests
  packages/tests/src/helpers/runBundlers.ts
Owners: @yoannmoinet

Update metrics reported
  packages/plugins/telemetry/src/common/aggregator.ts
  packages/plugins/telemetry/src/common/output/text.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Cleaning
  packages/plugins/telemetry/src/common/helpers.ts
  packages/plugins/telemetry/src/common/metrics/common.ts
  packages/plugins/telemetry/src/common/output/files.ts
  packages/plugins/telemetry/src/esbuild-plugin/index.ts
  packages/plugins/telemetry/src/esbuild-plugin/modules.ts
  packages/plugins/telemetry/src/types.ts
  packages/plugins/telemetry/src/webpack-plugin/index.ts
  packages/plugins/telemetry/src/webpack-plugin/modules.ts
  packages/tests/src/plugins/telemetry/common/helpers.test.ts
  packages/tests/src/plugins/telemetry/esbuild-plugin/modules.test.ts
  packages/tests/src/plugins/telemetry/testHelpers.ts
  packages/tests/src/plugins/telemetry/webpack-plugin/modules.test.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Remove dependencies.json file
  packages/plugins/telemetry/README.md
Owners: @DataDog/frontend-devx, @yoannmoinet

Add build-report internal plugin
  package.json
  packages/core/src/plugins/build-report/esbuild.ts
  packages/core/src/plugins/build-report/helpers.ts
  packages/core/src/plugins/build-report/index.ts
  packages/core/src/plugins/build-report/rollup.ts
  packages/core/src/plugins/build-report/webpack.ts
  packages/core/src/plugins/global-context/index.ts
  packages/core/src/plugins/index.ts
  packages/core/src/types.ts
  packages/plugins/rum/src/sourcemaps/files.ts
  packages/tests/src/core/plugins/build-report/index.test.ts
  packages/tests/src/fixtures/main.js
  packages/tests/src/fixtures/project/.gitignore
  packages/tests/src/fixtures/project/main1.js
  packages/tests/src/fixtures/project/main2.js
  packages/tests/src/fixtures/project/package.json
  packages/tests/src/fixtures/project/src/file0000.js
  packages/tests/src/fixtures/project/src/file0001.js
  packages/tests/src/fixtures/project/workspaces/app/file0000.js
  packages/tests/src/fixtures/project/workspaces/app/file0001.js
  packages/tests/src/helpers/mocks.ts
  packages/tests/src/plugins/rum/sourcemaps/files.test.ts
Owners: @yoannmoinet, @DataDog/rum

.github/CODEOWNERS:

# Default codeowners
*                                                                     @yoannmoinet

# Plugin owners

# Telemetry
packages/plugins/telemetry                                            @DataDog/frontend-devx @yoannmoinet
packages/tests/src/plugins/telemetry                                  @DataDog/frontend-devx @yoannmoinet

# Rum
packages/plugins/rum                                                  @DataDog/rum @yoannmoinet
packages/tests/src/plugins/rum                                        @DataDog/rum @yoannmoinet
