Repository DataDog/build-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yoannmoinet, @DataDog/frontend-devx, @DataDog/rum

Add missing version from bundler plugins
  packages/esbuild-plugin/src/index.ts
  packages/rollup-plugin/src/index.ts
  packages/vite-plugin/src/index.ts
  packages/webpack-plugin/src/index.ts
Owners: @yoannmoinet

Add bundler namespace in global context
  packages/core/src/plugins/global-context/index.ts
  packages/core/src/types.ts
  packages/plugins/rum/src/sourcemaps/files.ts
  packages/plugins/rum/src/sourcemaps/sender.ts
  packages/tests/src/helpers/mocks.ts
  packages/tests/src/plugins/rum/sourcemaps/files.test.ts
  packages/tools/src/helpers.ts
Owners: @yoannmoinet, @DataDog/rum

Refactor how we bundle things in the tests
  packages/tests/jest.config.js
  packages/tests/package.json
  packages/tests/src/core/plugins/git/index.test.ts
  packages/tests/src/core/plugins/global-context/index.test.ts
  packages/tests/src/helpers/configBundlers.ts
  packages/tests/src/helpers/runBundlers.ts
  packages/tests/src/plugins/rum/index.test.ts
  packages/tests/src/plugins/telemetry/common/aggregator.test.ts
  yarn.lock
Owners: @yoannmoinet, @DataDog/rum, @DataDog/frontend-devx

Fix README TOC generation
  README.md
  packages/tools/src/commands/integrity/readme.ts
Owners: @yoannmoinet

Remove webpack dependency from telemetry
  packages/plugins/telemetry/package.json
  packages/plugins/telemetry/src/types.ts
  packages/plugins/telemetry/src/webpack-plugin/tapables.ts
  packages/tests/src/plugins/telemetry/webpack-plugin/tapables.test.ts
  yarn.lock
Owners: @DataDog/frontend-devx, @yoannmoinet

Update how we bundle our plugins
  packages/esbuild-plugin/src/index.ts
  packages/rollup-plugin/src/index.ts
  packages/tools/src/rollupConfig.mjs
  packages/vite-plugin/src/index.ts
  packages/webpack-plugin/src/index.ts
Owners: @yoannmoinet

Validate plugin root options
  packages/factory/src/index.ts
Owners: @yoannmoinet

Add a test for calling the factory with no options
  packages/tests/src/factory/index.test.ts
Owners: @yoannmoinet

Fix vite's peerDependencies
  packages/vite-plugin/package.json
  yarn.lock
Owners: @yoannmoinet

v2.2.1
  packages/esbuild-plugin/package.json
  packages/rollup-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
Owners: @yoannmoinet

Fix README TOC generation
  README.md
  packages/tools/src/commands/integrity/readme.ts
Owners: @yoannmoinet

Revert change
  packages/tools/src/commands/integrity/readme.ts
Owners: @yoannmoinet

Fix readme
  README.md
Owners: @yoannmoinet

Fix README
  README.md
Owners: @yoannmoinet

Simplify test definition
  packages/tests/src/core/plugins/build-report/index.test.ts
Owners: @yoannmoinet

Refactor telemetry module to use the build-report
  packages/plugins/telemetry/src/common/aggregator.ts
  packages/plugins/telemetry/src/common/helpers.ts
  packages/plugins/telemetry/src/common/metrics/common.ts
  packages/plugins/telemetry/src/common/metrics/esbuild.ts
  packages/plugins/telemetry/src/common/metrics/webpack.ts
  packages/plugins/telemetry/src/common/modules.ts
  packages/plugins/telemetry/src/common/output/index.ts
  packages/plugins/telemetry/src/common/output/metrics.ts
  packages/plugins/telemetry/src/common/output/text.ts
  packages/plugins/telemetry/src/common/sender.ts
  packages/plugins/telemetry/src/esbuild-plugin/index.ts
  packages/plugins/telemetry/src/esbuild-plugin/modules.ts
  packages/plugins/telemetry/src/index.ts
  packages/plugins/telemetry/src/types.ts
  packages/plugins/telemetry/src/webpack-plugin/index.ts
  packages/plugins/telemetry/src/webpack-plugin/loaders.ts
  packages/plugins/telemetry/src/webpack-plugin/modules.ts
  packages/plugins/telemetry/src/webpack-plugin/tapables.ts
  packages/tests/src/plugins/telemetry/common/helpers.test.ts
  packages/tests/src/plugins/telemetry/common/metrics/esbuild.test.ts
  packages/tests/src/plugins/telemetry/common/metrics/webpack.test.ts
  packages/tests/src/plugins/telemetry/common/output/files.test.ts
  packages/tests/src/plugins/telemetry/common/output/text.test.ts
  packages/tests/src/plugins/telemetry/esbuild-plugin/modules.test.ts
  packages/tests/src/plugins/telemetry/index.test.ts
  packages/tests/src/plugins/telemetry/testHelpers.ts
  packages/tests/src/plugins/telemetry/webpack-plugin/modules.test.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Fix plugin detection
  packages/plugins/telemetry/src/esbuild-plugin/plugins.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Move the endPoint setting to be telemetry only
  README.md
  packages/core/src/types.ts
  packages/plugins/telemetry/README.md
  packages/plugins/telemetry/src/types.ts
Owners: @yoannmoinet, @DataDog/frontend-devx

Remove some files output
  README.md
  packages/plugins/telemetry/README.md
  packages/plugins/telemetry/src/common/output/files.ts
  packages/plugins/telemetry/src/types.ts
Owners: @yoannmoinet, @DataDog/frontend-devx

Update TODO
  packages/plugins/telemetry/src/index.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Add enableTracing option to telemetry
  packages/plugins/telemetry/src/index.ts
  packages/plugins/telemetry/src/types.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Refactor and simplify metrics aggregation
  packages/plugins/telemetry/src/common/aggregator.ts
  packages/plugins/telemetry/src/common/metrics/common.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Update readme
  README.md
Owners: @yoannmoinet

Use the logger to output telemetry
  packages/plugins/telemetry/src/common/output/text.ts
  packages/plugins/telemetry/src/index.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Update files tests
  packages/tests/src/plugins/telemetry/common/output/files.test.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Centralize telemetry default configurations
  packages/core/src/types.ts
  packages/plugins/telemetry/src/common/helpers.ts
  packages/plugins/telemetry/src/common/sender.ts
  packages/plugins/telemetry/src/index.ts
  packages/plugins/telemetry/src/types.ts
Owners: @yoannmoinet, @DataDog/frontend-devx

Streamline files output decision
  packages/plugins/telemetry/README.md
  packages/plugins/telemetry/src/common/output/files.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Refactor text output of telemetry
  packages/plugins/telemetry/src/common/output/text.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Update documentation
  README.md
  packages/plugins/telemetry/README.md
Owners: @yoannmoinet, @DataDog/frontend-devx

Update commit hook
  lint-staged.config.js
Owners: @yoannmoinet

Update helpers tests
  packages/tests/src/plugins/telemetry/common/helpers.test.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Update output text rendering
  packages/plugins/telemetry/src/common/output/text.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Output more info in the text report
  packages/plugins/telemetry/src/common/output/text.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Add deprecated comment on enableTracing
  packages/plugins/telemetry/README.md
  packages/plugins/telemetry/src/types.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Tweaks and fixes
  packages/plugins/telemetry/src/webpack-plugin/tapables.ts
  packages/tests/src/core/plugins/build-report/index.test.ts
  packages/tests/src/plugins/telemetry/common/output/files.test.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Fix readme links
  packages/plugins/telemetry/README.md
Owners: @DataDog/frontend-devx, @yoannmoinet

Fix files output
  packages/plugins/telemetry/src/common/output/files.ts
  packages/plugins/telemetry/src/index.ts
  packages/plugins/telemetry/src/types.ts
Owners: @DataDog/frontend-devx, @yoannmoinet

Add possibility to filter bundlers programmatically
  packages/tests/src/helpers/runBundlers.ts
Owners: @yoannmoinet

Add .toBeInRange helper for jest
  packages/tests/src/helpers/toBeWithinRange.ts
  packages/tests/src/setupTests.ts
Owners: @yoannmoinet

Prevent tests from doing real HTTP request
  packages/tests/jest.config.js
  packages/tests/src/setupTests.ts
Owners: @yoannmoinet

.github/CODEOWNERS:

# Default codeowners
*                                                                     @yoannmoinet

# Plugin owners

# Telemetry
packages/plugins/telemetry                                            @DataDog/frontend-devx @yoannmoinet
packages/tests/src/plugins/telemetry                                  @DataDog/frontend-devx @yoannmoinet

# Rum
packages/plugins/rum                                                  @DataDog/rum @yoannmoinet
packages/tests/src/plugins/rum                                        @DataDog/rum @yoannmoinet
